<!DOCTYPE html>
<html lang="br">

<head>
    <meta charset="UTF-8">
    <title>CORTESIA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="estilos/geral.css" rel="stylesheet" type="text/css" media="all" />
    <link href="./public/estilos/adm.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body id="produtos">
    <div id="tudo">
        <header>
            <h1>Super Mercado <strong>Cortesia ✪</strong></h1>
           
            <nav>
                <a href="super_merc" id="MenuInicio">Início</a>
                <a href="historia" id="MenuHistoria">Nossa história</a>
                <a href="produtos" id="MenuProdutos">Produtos</a>
                <a href="contato" id="MenuContato">Contato</a>
                <a href="clientes" id="MenuClientes">Clientes</a>
                <a href="adm" id="MenuAdm">Adm</a>
            </nav>
            <form method="GET" action="#" id="busca">
                <label> O QUE DESEJAS?
                <input type="text" name="busca" />                    
            </label>
                <input type="submit" value="OK" id="submit" />
            </form>
        </header>
        <main>
            <h1>Controle de funcionarios</h1>
           
        </main>
    

        <footer id="rodape">
            <p>© 2021 – Supermercados Cortesia – Todos os direitos reservados.</p>
          
        </footer>
    </div>
</body>


</html>