main {
	width:670px;
	margin: 20px 10px 50px 50px;	
	float:left;
	height: 600px;

	}


h2 {
	font-size:20px;
}

.tabela{
    text-align: center;
    font-size: 30px;
    color: #ff6100;
    margin: 50px;
}


