body {
	background:#ccc url('../img/fundo.jpg');
	color:#333;
	margin: 0; 
	padding: 0;
	font: 12px/1.4 Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	}
#tudo {
	width: 980px;
	margin: 0 auto;
	text-align:left;
	background:#fff;
	}
header {
	position:relative;
	width:980px;
	height:120px;
	background: grey;
	text-shadow: black 0.1em 0.1em 0.2em;
	}
header h1  { 
	position:absolute; 
	left:50px; 
	top:15px; 
	font-size: 28px;
	margin:0;
	}
header h1 strong {
	color:#fff;
	
	}
nav {
	position:absolute; 
	left:50px; 
	top:90px;
	margin:0; 
	padding:0;
	} 
nav a { 
	float:left;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	padding: 3px 15px 7px 15px;
	margin-right:25px;
	}
nav a:hover {  
	background: black url('../img/bg-over.jpg') repeat-x 0 0;
	}
#busca { 
	position:absolute; 
	right:20px; 
	top:30px;
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	}
#busca label input {
	background: #fcc;
	border: none;
	}
#busca input#submit {
	background: black;
	border: 2px outset black;
	color:#fff;
	font-size:10px;
	}
footer {
	height:25px;
	clear:both;
	background:rgb(170, 162, 147);
	}
footer p {
	margin-left: 50px;
	font-size:14px;
	line-height:2;
	}
footer p span {
	color: grey;
	font-weight:bold;
	}
h2 {
	font-size:26px;
	margin:30px 0 10px 0;
	}



