<!DOCTYPE html>
<html lang="br">

<head>
    <meta charset="UTF-8">
    <title>CORTESIA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../estilos/geral.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../estilos/contato.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body id="produtos">
    <div id="tudo">
        <header>
            <h1>Super Mercado <strong>Cortesia ✪</strong></h1>
           
            <nav>
                <a href="cortesia" id="MenuInicio">Início</a>
                <a href="historia" id="MenuHistoria">Nossa história</a>
                <a href="produtos" id="MenuProdutos">Produtos</a>
                <a href="contato" id="MenuContato">Contato</a>
                <a href="login" id="MenuAdm">Login</a>
            </nav>
            <form method="GET" action="#" id="busca">
                <label> O QUE DESEJAS?
                <input type="text" name="busca" />                    
            </label>
                <input type="submit" value="OK" id="submit" />
            </form>
        </header>
        <main>
            
                    <div class="contato">
                        <img src="img/contato.jpg" alt="imagemContato" />
                    </div>
        
                <br>
                <form class="formContato">
                <table class="tableContato">
                    <tr>
                        <td>Nome Completo:</td>
                        <td><input type="text" name="nome" size="40"> <br /></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td><input type="text" name="email" size="40"></td>
                    </tr><br>
                    <tr>
                        <td>(DDD)Celular:</td>
                        <td><input type="text" name="celular" size="40"></td>
                      </tr><br>
                    <tr>
                        <td>Endereço:</td>
                        <td><input type="text" name="endereço" size="40"></td>
                      </tr><br>
                    <tr>
                        <td>CEP:</td>
                        <td><input type="text" name="cep" size="5" maxlength="5"> - <input type="text" name="cep2" size="3" maxlength="3"></td>
                    </tr>
                        <td>Data de Nascimento</td>
                        <td><input type="date" name="data"></td>
                    </td>
                    <tr>
                        <td>Mensagem</td><br>
                        <td><textarea name="sinopse" maxlength=300  cools="25" rows="5"></textarea></td>
                    </tr>
                 
                   </table><br><br>
                </form>
                <div id="botao">
                <input type="button" name="btn" onclick="funcao1()" value="Enviar">
                </div>
                

        </main>
     
    

        <footer id="rodape">
            <p>© 2021 – Supermercados Cortesia – Todos os direitos reservados.</p>
          
        </footer>
    </div>
</body>
<script>
    function funcao1()
    {
    alert("Mensagem enviada!!!");
    }
</script>



</html>