<!DOCTYPE html>
<html lang="br">

    <head>
        <meta charset="UTF-8">
        <title>CORTESIA</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="../estilos/geral.css" rel="stylesheet" type="text/css" media="all" />
        <link href="../estilos/inicio.css" rel="stylesheet" type="text/css" media="all" />
    </head>

<body id="produtos">
    <div id="tudo">
        <header>
            <h1>Super Mercado <strong>Cortesia ✪</strong></h1>
           
            <nav>
                <a href="cortesia" id="MenuInicio">Início</a>
                <a href="historia" id="MenuHistoria">Nossa história</a>
                <a href="contato" id="MenuContato">Contato</a>
                <a href="login" id="MenuAdm">Login</a>
            </nav>
            <form method="GET" action="#" id="busca">
                <label> O QUE DESEJAS?
                <input type="text" name="busca" />                    
            </label>
                <input type="submit" value="OK" id="submit" />
            </form>
        </header>
        <main>
           
            <h1>Promoções da Semana</h2>
            
		<!--Demarca uma seção do meu layout-->	
		<section class="produtospromocionais">
			<!-- Figure para inserir imagens -->	
			<figure>
				<img src="img/maca.jpg" id="primeiro" alt="Camiseta Calvin Klein Branca">	
					<!--Legenda da imagem -->
					<figcaption>Maça Argentina - Preço (R$/Kg) 10,89</figcaption>
					
			</figure>

			<figure>
				<img src="img/cenoura.jpg" id="segundo" alt="Camiseta Fila">	
					<figcaption>Cenoura - Preço (R$/Kg) 3,15</figcaption>
					
			</figure>

			<figure>
				<img src="img/laranja.jpg" id="terceiro" alt="Camiseta da Nike Branca">	
					<figcaption>Laranja - Preço (R$/Kg) 3,98</figcaption>
					
			</figure>

		</section>
               
            <section class="produtospromocionais2">
                <!-- Figure para inserir imagens -->	
                <figure>
                    <img src="img/pao.jpg" id="primeiro" alt="Camiseta Calvin Klein Branca">	
                        <!--Legenda da imagem -->
                        <figcaption>Pão Francês - Preço (R$/Kg) 6,99</figcaption>
                        
                </figure>
    
                <figure>
                    <img src="img/presunto.jpg" id="segundo" alt="Camiseta Fila">	
                        <figcaption>Presunto Fatiado - Preço (R$/Kg) 18,89</figcaption>
                        
                </figure>
    
                <figure>
                    <img src="img/salgadinho.jpg" id="terceiro" alt="Camiseta da Nike Branca">	
                        <figcaption>Salgadinho de festa - Preço (R$/Kg) 25,98</figcaption>
                        
                </figure>
    
            </section>

            <section class="produtospromocionais3">
                <!-- Figure para inserir imagens -->	
                <figure>
                    <img src="img/paleta.jpg" id="primeiro" alt="Camiseta Calvin Klein Branca">	
                        <!--Legenda da imagem -->
                        <figcaption>Paleta Bovina - Preço (R$/Kg) 16,99</figcaption>
                        
                </figure>
    
                <figure>
                    <img src="img/peitodefrango.jpg" id="segundo" alt="Camiseta Fila">	
                        <figcaption>Peito de Frango - Preço (R$/Kg) 12,90</figcaption>
                        
                </figure>
    
                <figure>
                    <img src="img/costela.jpg" id="terceiro" alt="Camiseta da Nike Branca">	
                        <figcaption>Carne Costela - Preço (R$/Kg) 33,98</figcaption>
                        
                </figure>
    
            </section>


        </main>
   
        <footer id="rodape">
            <p>© 2021 – Supermercados Cortesia – Todos os direitos reservados.</p>
          
        </footer>
    </div>
</body>    
</html>